<p id="notice"><%= notice %></p>

<p>
  <strong>Senderid:</strong>
  <%= @message.senderId %>
</p>

<p>
  <strong>Recipientid:</strong>
  <%= @message.recipientId %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @message.mid %>
</p>

<p>
  <strong>Status:</strong>
  <%= @message.status %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @message.timestamp %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
